@model IEnumerable<LMS.Models.Tbl_Course>

    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LMS</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <link href="~/Content/AdminCourseList.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/bf4417af40.js"></script>

    </head>
    <body>
        <nav class="navbar bg-blue navbar-dark">
            <a class="navbar-brand font-weight-bold text-primaryn" href="~/Admin/Index">

                <h2 style="text-align:left">LMS</h2>
            </a>
        </nav>


        <div class="container">
            <div class="bg-none text-primaryn">
                <h1 style="text-align: center">
                    Course List <i class="fas fa-clipboard-list"></i>
                </h1>
            </div>

            <div class="row">
                <div style="text-align: left " class="col-lg-3">
                    <a href="@Url.Action("Courses","Admin")" class="btn btn-infon btn-sm-mb-3">
                        <h3>Add New <i class="fas fa-user-plus"></h3></i>
                    </a>
                </div>
            </div>
            <br />
            <br />
            <table style="width:100%; height:70px" class="table table-striped table-bordered">
                <thead class="tablen">
                    <tr>
                        <th class="text-primary1 font-weight-bold" style="text-align: center">
                            <h3> @Html.DisplayNameFor(model => model.CourseName)</h3>
                        </th>
                        <th class="text-primary1 font-weight-bold" style="text-align: center">
                            <h3>@Html.DisplayNameFor(model => model.FullDescription)</h3>
                        </th>
                        <th class="text-primary1 font-weight-bold" style="text-align: center">
                            <h3>@Html.DisplayNameFor(model => model.Duration)</h3>
                        </th>
                        <th class="text-primary1 font-weight-bold" style="text-align: center">
                            <h3> @Html.DisplayNameFor(model => model.Price)</h3>
                        </th>
                        <th class="text-primary1 font-weight-bold" style="text-align: center">
                            <h3> @Html.DisplayNameFor(model => model.CourseType)</h3>
                        </th>
                        <th class="text-primary1 font-weight-bold" style="text-align: center"><h3>Action</h3></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>

                            <td class="bg-light text-dark" style="text-align: center">
                                <h4> @Html.DisplayFor(modelItem => item.CourseName)</h4>
                            </td>

                            <td class="bg-light text-dark" style="text-align: center">
                                <h4> @Html.DisplayFor(modelItem => item.FullDescription)</h4>
                            </td>
                            <td class="bg-light text-dark" style="text-align: center">
                                <h4>  @Html.DisplayFor(modelItem => item.Duration)</h4>
                            </td>
                            <td class="bg-light text-dark" style="text-align: center">
                                <h4>  @Html.DisplayFor(modelItem => item.Price)</h4>
                            </td>
                            <td class="bg-light text-dark" style="text-align: center">
                                <h4> @Html.DisplayFor(modelItem => item.CourseType)</h4>
                            </td>
                            <td class="bg-light text-dark" style="text-align: center">
                                <h4>
                                    @Html.ActionLink("Edit", "Courses", new { item.PKCourseID, item.CourseName, item.FullDescription, item.Duration, item.Price, item.CourseType }) |

                                    @Html.ActionLink("Delete", "Delete", new { id = item.PKCourseID })
                                </h4>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </body>
    </html>


