@*@model IEnumerable<LMS.Models.CourseQuiz>

    @{
        ViewBag.Title = "CourseQuizQueList";
    }*@
@using System.Data
@model DataSet
@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="~/Content/FacultyCourse.css" rel="stylesheet" />

<script src="https://kit.fontawesome.com/bf4417af40.js"></script>


<nav class="navbar bg-blue navbar-dark">
    <a class="navbar-brand font-weight-bold text-primaryn" href="~/FacultyAssignedCourses/Dashboard">
        LMS </i>
    </a>
</nav>
<p></p>

<div class="container">
    <div class="bg-none text-primaryn">
        <h1 style="text-align: center; color:#003147">
            Quiz Questions <i class="fas fa-clipboard-list"></i>
        </h1>
    </div>
    <div class="row">
        <div style="text-align: left; color:#fff" class="col-lg-3">
            <p style="color:#fff" class="btn btn-infon btn-sm-mb-3">
                @Html.ActionLink("AddQuizQuestions", "AddCourseQUE")
            </p>
        </div>
    </div>



    <p></p>
    <p></p>
    <table class="table table-striped table-bordered">
        <thead class="tablen">
            <tr>

                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">QuestionNo</th>
                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">Question</th>
                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">OptionA</th>

                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">OptionB</th>
                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">OptionC</th>
                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">OptionD</th>

                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">NoOfCorrectAns</th>
                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">CorrectAns</th>
                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">CreatedOn</th>

                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">STATUS</th>

                <th class="text-primary1 font-weight-bold"
                    style="text-align: center">Change Status</th>
            </tr>
        </thead>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tbody>


                <tr>

                    <td class="bg-light text-dark" style="text-align: center">@row["QuestionNo"]</td>

                    <td class="bg-light text-dark" style="text-align: center">@row["Question"]</td>
                    <td class="bg-light text-dark" style="text-align: center">@row["OptionA"]</td>
                    <td class="bg-light text-dark" style="text-align: center">@row["OptionB"]</td>
                    <td class="bg-light text-dark" style="text-align: center">@row["OptionC"]</td>
                    <td class="bg-light text-dark" style="text-align: center">@row["OptionD"]</td>

                    <td class="bg-light text-dark" style="text-align: center">@row["NoOfCorrectAns"]</td>
                    <td class="bg-light text-dark" style="text-align: center">@row["CorrectAns"]</td>
                    <td class="bg-light text-dark" style="text-align: center">@row["CreatedOn"]</td>

                    <td class="bg-light text-dark" style="text-align: center">@row["Status"]</td>
                    @if (@row["Status"].ToString() == "Active")
                    {
                        <td class="bg-light text-dark" style="text-align: center">
                            @Html.ActionLink("Deactivate", "ChangeQueStatus", new { PKQuizID = @row["PKQuizID"] }) |
                            @Html.ActionLink("Edit", "EditQuestio", new { Id = @row["PKQuizID"] })
                        </td>
                    }
                    else
                    {
                        <td class="bg-light text-dark" style="text-align: center">
                            @Html.ActionLink("Activate", "ChangeQueStatus", new { PKQuizID = @row["PKQuizID"] }) |
                            @Html.ActionLink("Edit", "EditQuestion", new { Id = @row["PKQuizID"] })
                        </td>
                    }



                    @*<a href="#" class="btn btn-info"><i class="fa fa-book"></i></a>*@

                </tr>

            </tbody>
        }
    </table>

    <div style="font-family:'Microsoft Sans Serif';
                      color:green;
                      font-size:22px;
                      font-weight:bold">



        @Html.ViewData["Message"]
    </div>
</div>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfCorrectAns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FKFacultyRegID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FKCourseID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfCorrectAns)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectAns)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FKFacultyRegID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FKCourseID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PKQuizID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PKQuizID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PKQuizID })
                </td>
            </tr>
        }

    </table>*@
