@model LMS.Models.StudentRegistration

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Update password</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">



    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="~/Content/ResetPassword.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="UpdatePaswd.css" />*@

</head>
<body>

    @*@TempData["Username"] = "shubhangi.hadgal@capgemini.com";
        @TempData["Role"] = "Student";*@
    @using (Html.BeginForm("Index", "ResetPassword", FormMethod.Post))
    {
        <!--Navbar-->
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <!--lms logo-->
                    <a class="navbar-brand" href="#">
                        <img src="~/Content/LoginPageImages/lmslogo.jpg" alt="" width="80" height="60" />
                        @*<img src="lmslogo.jpg" alt="" width="80" height="60">*@
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>

                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Whats New</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact US</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="form-box">
            <h3>Reset Password</h3>

            <div class="input-box">
                <i class="fas fa-key"></i>
                @Html.PasswordFor(model => model.Password, new { id = "myInput", @Value = "", placeholder = "Enter old Password", @required = "required", @class = "form-input" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                @*<input type="password" placeholder="Enter old Password" id="myInput">*@
                <span class="eye" onclick="myfunction()">
                    <i id="hide1" class="fas fa-eye"></i>
                    <i id="hide2" class="fas fa-eye-slash"></i>
                </span>
            </div>

            <div class="input-box">
                <i class="fas fa-key"></i>
                @Html.PasswordFor(model => model.newPassword, new { id = "myInput2", @Value = "", placeholder = "Enter new Password", @required = "required", @class = "form-input" })
                @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
                @*<input type="password" placeholder="Enter new Password" id="myInput2">*@
                <span class="eye" onclick="myfunction2()">
                    <i id="hide3" class="fas fa-eye"></i>
                    <i id="hide4" class="fas fa-eye-slash"></i>
                </span>
            </div>


            <div class="input-box">
                <i class="fas fa-key"></i>
                @Html.PasswordFor(model => model.confirmPassword, new { id = "myInput3", @Value = "", placeholder = "Confirm new Password", @required = "required", @class = "form-input" })
                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                @*<input type="password" placeholder="Confirm new Password" id="myInput3">*@
                <span class="eye" onclick="myfunction3()">
                    <i id="hide5" class="fas fa-eye"></i>
                    <i id="hide6" class="fas fa-eye-slash"></i>
                </span>
            </div>
            @if (@ViewBag.Result != null)
            {

                <label style="color:red"> @ViewBag.Result</label>
            }
            @*<button type="button" class="login-btn">RESET PASSWORD</button>*@

            <input type="submit" class="login-btn" value="RESET PASSWORD">

        </div>


        <script>


            function myfunction() {
                var x = document.getElementById("myInput");
                var y = document.getElementById("hide1");
                var z = document.getElementById("hide2");

                if (x.type === 'password') {
                    x.type = "text";
                    y.style.display = "block";
                    z.style.display = "none";
                } else {
                    x.type = "password";
                    y.style.display = "none";
                    z.style.display = "block";
                }
            }



            function myfunction2() {
                var x = document.getElementById("myInput2");
                var y = document.getElementById("hide3");
                var z = document.getElementById("hide4");

                if (x.type === 'password') {
                    x.type = "text";
                    y.style.display = "block";
                    z.style.display = "none";
                } else {
                    x.type = "password";
                    y.style.display = "none";
                    z.style.display = "block";
                }
            }



            function myfunction3() {
                var x = document.getElementById("myInput3");
                var y = document.getElementById("hide5");
                var z = document.getElementById("hide6");

                if (x.type === 'password') {
                    x.type = "text";
                    y.style.display = "block";
                    z.style.display = "none";
                } else {
                    x.type = "password";
                    y.style.display = "none";
                    z.style.display = "block";
                }
            }

        </script>

        <footer>
            <p>CG © 2021 - Learning Management System - Version 1.0</p>
        </footer>
       
    }
</body>
</html>
